<h1>About</h1>
<div class="about">
  <img src="/img/library.jpg">
  <p>ISBN Checker was created as part of the Historical Pathologic Literature intiative. This tool was designed by members of the <a href="https://en.wikipedia.org/wiki/Miskatonic_University" target="_blank">Miskatonic University</a> in Arkham, Massachusetts.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
