<h3>About Us</h3>
<p>ISBN Checker was created as part of the Historical Pathologic Literature intiative. This tool was designed by members of the <a href="https://en.wikipedia.org/wiki/Miskatonic_University" target="_blank">Miskatonic University</a> in Arkham, Massachusetts.</p>
<p></p>
