<h1>About</h1>
<div class="about">
  <img src="/img/hart_house_480.jpg">
  <p>Lorem ipsum dolor sit amet, in utamur posidonium efficiendi sit, cu ancillae luptatum adolescens per, duo in utroque nonumes percipit. Eu pri pertinax atomorum, vis an vidisse mediocrem. Pri cu iusto clita quaeque. Eos ei virtute convenire, his no saepe appellantur, epicuri delicata persecuti pri ad.</p>

  <p>Ei molestiae posidonium mel. Te paulo inermis suscipiantur sea. In pri ferri utinam ubique, adhuc mollis admodum qui ut, nam ut illud impetus saperet. Est veniam mollis disputationi at, ei mel duis ullum.</p>

  <p>An utamur delicata eam, et per esse nostrum consectetuer. Alia mutat antiopam ne sed, te pri prima tractatos efficiendi. Solum pericula sapientem pro at, qui assueverit vituperatoribus an. Eu lorem maiestatis est, lucilius perfecto antiopam in sea. Est an noster delicata deterruisset, cum duis velit definiebas et.</p>
</div>
