<form action="/check_input" method="post">
  String to check: <input type="text" name="isbn-value" required>
  <ul>
    <li>
      ISBN10: <input type="radio" name="isbn-type" required value="isbn10">
    </li>
    <li>
      ISBN13: <input type="radio" name="isbn-type" required value="isbn13">
    </li>
  </ul>
  <input type="submit">
</form>
