<form action="/check_input" method="post">
  <h2>Please enter an ISBN10 or ISBN13</h2>
  String to check: <input type="text" name="isbn_value" minlength="10" maxlength="13" required pattern="(/[^0-9xX]/)" title="Numbers and the letter X only">  <!-- required autofocus onkeyup="this.value = this.value.replace(/[^0-9xX]/, '')" > -->
  <!-- <ul>
    <li>
      ISBN10: <input type="radio" name="isbn_type" required value="isbn10">
    </li>
    <li>
      ISBN13: <input type="radio" name="isbn_type" required value="isbn13">
    </li>
  </ul> -->
  <p>
    <input type="submit" class="button">
  </p>
</form>
<a href="/history"><button class="button">See History</button></a>
