<h1>contact</h1>
<div class="container">
  <table align="center">
    <tr>
      <td>
        <img src="/img/NPC_Bakalavr.png">
        <ul>
          <li><strong>Daniel Upton</strong></li>
          <li><em>Thanatology</em></li>
          <a href="#"><li>daniel.upton@miskatonic.edu</li></a>
        </ul>
      </td>
      <td>
        <img src="/img/NPC_Burah_b.png">
        <ul>
          <li><strong>Artemy Blake</strong></li>
          <li><em>Warden</em></li>
          <a href="#"><li>artemy.blake@miskatonic.edu</li></a>
        </ul>
      </td>
      <td>
        <img src="/img/NPC_Klara_b.png">
        <ul>
          <li><strong>Klara Waite</strong></li>
          <li><em>Restricted Literature</em></li>
          <a href="#"><li>klara.waite@miskatonic.edu</li></a>
        </ul>
      </td>
    </tr>
  </table>
</div>
