<h1>contact</h1>
<div class="container">
  <table align="center" id="aboutTable">
    <tr>
      <td>
        <div class="contactEntry">
        <img class="npcPhoto" src="/img/avatars/Bakalavr.png">
          <div><strong>Daniil Dankovsky</strong></div>
          <div><em>Bachelor</em></div>
          <a href="#"><div>daniil.dankovsky@miskatonic.edu</div></a>
        </ul></div>
      </td>
      <td>
        <div class="contactEntry">
        <img class="npcPhoto" src="/img/avatars/Burah.png">
          <div><strong>Artemy Burakh</strong></div>
          <div><em>Haruspex</em></div>
          <a href="#"><div>artemy.burakh@miskatonic.edu</div></a>
        </ul></div>
      </td>
      <td>
        <div class="contactEntry">
        <img class="npcPhoto" src="/img/avatars/Klara.png">
          <div><strong>Clara</strong></div>
          <div><em>Changeling</em></div>
          <a href="#"><div>clara@miskatonic.edu</div></a>
        </ul></div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="contactEntry">
        <img class="npcPhoto" src="/img/avatars/Kahn.png">
          <div><strong>Georgiy Kain</strong></div>
          <div><em>Bound</em></div>
          <a href="#"><div>georgiy.kain@miskatonic.edu</div></a>
        </ul></div>
      </td>
      <td>
        <div class="contactEntry">
        <img class="npcPhoto" src="/img/avatars/Maria.png">
          <div><strong>Maria Kain</strong></div>
          <div><em>Bound</em></div>
          <a href="#"><div>maria.kain@miskatonic.edu</div></a>
        </ul></div>
      </td>
      <td>
        <div class="contactEntry">
        <img class="npcPhoto" src="/img/avatars/Victor.png">
          <div><strong>Victor Kain</strong></div>
          <div><em>Bound</em></div>
          <a href="#"><div>victor.kain@miskatonic.edu</div></a>
        </ul></div>
      </td>
    </tr>
  </table>
</div>
