<h3>Conact Us</h3>
<ul>
  <li>John Doe</li>
  <li><em>Restricted Literature Dept.</em></li>
  <li>johndoe@miskatonic.edu</li>
  <li>555-867-5309</li>
</ul>
<div class="staff">

  <table>
    <tr>
      <td>
        <img src="" alt="">
        <ul>
          <li><strong>Daniel Wingates</strong></li>
          <li><em>Bachelor of Thanatology</em></li>
          <a href="#"><li>daniel.wingates@miskatonic.edu</li></a>
        </ul>
      </td>
    </tr>
  </table>
</div>
