<table class="pageCenter history">
  <tr>
    <th>ISBN</th>
    <th>Status</th>
    <th>User</th>
  </tr>
  <% checked_numbers.each do |hash|%>
    <tr>
      <td>
        <%=hash["isbn"]%>
        <!-- <%#=hash[:isbn].to_s.rjust(hash[:type].to_s.gsub('isbn', ''), '0')%> -->
        <!-- hash data type: <%#=hash[:isbn].to_s.length%> -->
      </td>
      <td>
        <%=hash["status"]%>
      </td>
      <td>
        <!-- <%=hash[:user]%> -->
        <%=hash["username"]%>
      </td>
    </tr>
  <% end %>
</table>
<br>
<a href="/check_if_valid"><button class="button">Return to Input</button></a>
<br>
<br>
