<table class="pageCenter history">
  <tr>
    <th>ISBN</th>
    <th>Status</th>
    <th>User</th>
  </tr>
  <% checked_numbers.each do |hash|%>
    <tr>
      <td>
        <%=hash[:isbn]%>
      </td>
      <td>
        <%=hash[:status]%>
      </td>
      <td>
        <%=hash[:user]%>
      </td>
    </tr>
  <% end %>
</table>
<br>
<a href="/check_if_valid"><button class="button">Return to Input</button></a>
