<script type="text/javascript" src="/facebook.js">

</script>
<div class="loginLogo">

  <img src="/img/tentacle_logo.png" alt="">
</div>
  <fb:login-button data-size="large" data-button-type="continue_with" scope="public_profile,email" onlogin="checkLoginState();">
  </fb:login-button>
  <br>
  <br>
  <br>
  <a href="/login"><button class="button">Login with Username</button></a><br><br>
  <a href="/signup"><button class="button">Signup</button></a><br><br>
  <a href="/guest"><button class="button">Continue as Guest</button></a>
