<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ISBN Checker</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Source+Code+Pro" rel="stylesheet">
  </head>
  <body>
    <div class="content pageCenter">
      <div>
        <ul class="navbarLinks">
          <li><a href="/">Home</a></li>
          <!-- <li><a href="/news">News</a></li> -->
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
        <%=yield%>
    </div>
  </body>
  <footer>
    <div>
      <p><a href = "https://en.wikipedia.org/wiki/Miskatonic_University" target = "_blank">Miskatonic University</a><br>&copy; 2018</p>
    </div>
  </footer>
</html>
