<form action="/login_submit" method="post">
  <div>
    <div class="red">
      <%=message%>
    </div>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Username"><br>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" name="" value="Login" class="button">
  </div>
</form>
