<script type="text/javascript" src="/facebook.js">

</script>
<div class="loginLogo">

  <img src="/img/tentacle_logo.png" alt="">
</div>
<form action="/login_submit" method="post">
  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
  </fb:login-button>
  <div id="status">
  </div>

<!-- <label for="name">Your name: </label> -->
  <input type="hidden" name="name" id="name_for_user" value="Guest">
  <input type="submit" name="" value="Continue to ISBN" class="button">
</form>
