<form action="/login_submit" method="post">
  <!-- <div><input type="email" name="email" required placeholder="Email"></div> -->
  <div><input type="text" name="username" required placeholder="Username"></div>
  <div><input type="password" name="password" required placeholder="Password"></div>
  <input type="submit" value="Log in">
</form>
<a href="/signup"><button type="button" name="button">Sign up</button></a>
