<script type="text/javascript" src="/facebook.js">

</script>
<form action="/login_submit" method="post">
<div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>
  <div id="status">
  </div>

<label for="name">Your name: </label>
  <input type="text" name="name" id="name_for_user" value="Guest">
  <input type="submit" name="" value="Continue to ISBN">
</form>
