<form action="/login_submit" method="post">
  <div>
    <div class="red">
      <%=message%>
    </div>
    <label for="username">Username</label>
    <div><input type="text" name="username" placeholder="Username"></div>
    <label for="password">Password</label>
    <div><input type="password" name="password" placeholder="Password"></div><br>
    <div><input type="submit" name="" value="Login" class="button"></div>
  </div>
  <br>
  <a href="/signup">
    <button type="button" class="button">Signup</button>
  </a>
</form>
