<h1>Staff</h1>

<div class="wrapper">
  <div class="contactEntry mobile tablet">
    <ul>
      <li><img class="npcPhoto" src="/img/avatars/Bakalavr.png"></li>
      <li><div><strong>Daniil Dankovsky</strong></div></li>
      <li><div><em>Bachelor</em></div></li>
      <!-- <li><a href="#"><div>daniil.dankovsky@miskatonic.edu</div></a></li> -->
    </ul>
  </div>
  <div class="contactEntry mobile tablet">
    <ul>
      <li><img class="npcPhoto" src="/img/avatars/Burah.png"></li>
      <li><div><strong>Artemy Burakh</strong></div></li>
      <li><div><em>Haruspex</em></div></li>
      <!-- <li><a href="#"><div>artemy.burakh@miskatonic.edu</div></a></li> -->
    </ul>
  </div>
  <div class="contactEntry mobile tablet">
    <ul>
      <li><img class="npcPhoto" src="/img/avatars/Klara.png"></li>
      <li><div><strong>Clara</strong></div></li>
      <li><div><em>Changeling</em></div></li>
      <!-- <li><a href="#"><div>clara@miskatonic.edu</div></a></li> -->
    </ul>
  </div>
  </td>
  <div class="contactEntry mobile tablet">
    <ul>
      <li><img class="npcPhoto" src="/img/avatars/Kahn.png"></li>
      <li><div><strong>Georgiy Kain</strong></div></li>
      <li><div><em>Bound</em></div></li>
      <!-- <li><a href="#"><div>georgiy.kain@miskatonic.edu</div></a></li> -->
    </ul>
  </div>
  <div class="contactEntry mobile tablet">
    <ul>
      <li><img class="npcPhoto" src="/img/avatars/Maria.png"></li>
      <li><div><strong>Maria Kain</strong></div></li>
      <li><div><em>Bound</em></div></li>
      <!-- <li><a href="#"><div>maria.kain@miskatonic.edu</div></a></li> -->
    </ul>
  </div>
  <div class="contactEntry mobile tablet">
    <ul>
      <li><img class="npcPhoto" src="/img/avatars/Victor.png"></li>
      <li><div><strong>Victor Kain</strong></div></li>
      <li><div><em>Bound</em></div></li>
      <!-- <li><a href="#"><div>victor.kain@miskatonic.edu</div></a></li> -->
    </ul>
  </div>
</div>
