html, body {
  margin: 0;
  padding:0;
}
body {
  background-color: #34415A;
  color: #B5B3CB;
  /* font-size: 22px; */
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  height: 100%;
  overflow: auto;
  /* padding-bottom: 50px;
  margin-bottom: 50px; */
}

h1 {
  font-size: 350%;
  font-weight: 700;
  text-transform: uppercase;
}
a {
  color: #D2CFE5;
}
a:visited{
  color: #817CA7;
}
ul {
  list-style: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin-top: 5%;
  color: darkgrey;
  text-align: center;
  background-color: #34415A;
}

div img {
  max-width: 100%;
  max-height: 100%;
}

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid #687EA9;
  padding: 2px 15px 2px 15px;
}

.navbarLinks  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1D2536;
}

.navbarLinks li {
    float: left;
}

.navbarLinks li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarLinks li a:hover {
    background-color: #7D99CF;
}

.content {
  background-color: #4A5C80;
  width: 70%;
  padding-bottom: 70px;
}

.button {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #7D99CF;
  /* background-color: #FFD88F; */
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: #34415A;
  color: white;
}
.pageCenter{
  /* vertical-align: center; */
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  float: none;
}
.about {
  width: 80%;
  margin: auto;
}

.about img {
  max-width: 80%;
  max-height: 80%;
}

.staff {
  margin: auto;
}
.container {
	text-align: center;
	padding: 5px;
}
.history {
  margin-top: 5%;
  font-family: 'Source Code Pro', monospace;
}

.history td {
  padding-left: 5px;
  padding-right: 5px;
}

.contactEntry {
  width: 80%;
  height: 80%;
  padding: 10px;
  border: 0;
  margin: 10px;
}

.npcPhoto {
  width: 200px;
}

#aboutTable {
  border: none;
}

#aboutTable td {
  border: none;
  /* width: 30%; */
  padding: 0px 0px 0px 0px;
}
