html{
  height: 100%;
}
body {
  background-color: #34415A;
  color: rgb(128, 128, 174);
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: darkgrey;
  text-align: center
}


.navbarLinks  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1D2536;
}

.navbarLinks li {
    float: left;
}

.navbarLinks li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarLinks li a:hover {
    background-color: #7D99CF;
}

.content {
  background-color: #4A5C80;
  width: 70%;
  height: 100vh; /* extends background to bottom of page */
  padding: 0;
}

.button {
  color: #555590;
  background-color: #0C0C3E;
}
.pageCenter{
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  float: none;
}

.loginLogo img {
  max-width: 100%;
  max-height: 100%;
}
